Click
Django
Flask
Flask-Cors
ItsDangerous
Jinja2
MarkupSafe
PyYAML
Werkzeug
certifi
chardet
clickclick
connexion[swagger-ui]
idna
inflection
jsonschema
pip
psycopg2
pytz
requests
setuptools
six
swagger-spec-validator
urllib3
numpy